<h2>Template</h2>
<!-- Cuando usamos formularios por template le decimos a Angular que toda la logica del formulario este presente del lado del html -->
<hr>

<ul class="list-grorup">

    <li *ngFor= "let item of templateMenu"
        class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive= "active">
        {{item.text}}
    </li>

</ul>

<h2 class= "mt-3">Reactive</h2>
<!-- Cuando usamos formularios por reactive buscamos hacer que la mayo parate de la logica del fomulario este presente en el component.ts  -->
<hr>

<ul class="list-grorup">

    <li *ngFor= "let item of reactiveMenu"
        class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive= "active">
        {{item.text}}
    </li>

</ul>

<h2 class= "mt-3">Validaciones</h2>

<hr>

<ul class="list-grorup">

    <li *ngFor= "let item of authMenu"
        class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive= "active">
        {{item.text}}
    </li>

</ul>