<app-menu></app-menu>

<router-outlet></router-outlet>
<!-- Los pipes de angular sirven para poder transformar visualmenete la informacion -->
<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>
</div> -->

<!-- Para poder utilizar cualquier cosa de PRIME NG Necestiamos importar su modulo, asi importamos todas sus declaraciones y componentes -->

<!-- <button pButton
        (click)= "mostrarNombre()"
        label="Cambiar Nombre"
        icon="pi pi-check"
        iconPos="right"
        class="p-button-help">
</button> -->

<!-- Para poder enlaza cualquier propiedad de un objeto necesiamos las [] como en el Header  -->
<!-- <p-card [header]= "nombre | titlecase"
        subheader= "Esto es un subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem porro, voluptatem eius magni dolorum aut error ea, animi illo quae laudantium hic saepe consequatur officiis excepturi, culpa vero doloribus?
</p-card> -->

