<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- Tenemos que agregar a que fortmGruop se aderira el formulario -->
        <form autocomplete="off" 
              [formGroup]="miFormulario"
              (ngSubmit)="submitFormulario()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3" col-form-label>Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder="Nombre del usuario">

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3" col-form-label>E-mail</label>
                <div class="col-sm-9">
                    <input type="email"
                            class="form-control"
                            formControlName="email"
                            placeholder="E-mail del usuario">
                    <span class="form-text text-danger"
                            *ngIf="campoNoValido('email')">
                            El correo es obligatorio
                    </span>
                </div>
            </div>

            
            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3" col-form-label>Username</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            formControlName="username"
                            placeholder="Nombre código del usuario">
                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('username')">
                          El username no puede ser Wasabi
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3" col-form-label>Password</label>
                <div class="col-sm-9">
                    <input type="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="Password de su cuenta">
                    <span class="form-text text-danger"
                            *ngIf="campoNoValido('password')">
                            La contrasena debe de ser mayor de 6 caracteres.
                    </span>
                    
                </div>
            </div>

            <!-- Password 2-->
            <div class="row mb-3">
                <label class="col-sm-3" col-form-label>Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                            class="form-control"
                            formControlName="password2"
                            placeholder="Confirmar la password de su cuenta">
                    <span class="form-text text-danger"
                            *ngIf="campoNoValido('password2')">
                            La contrasena debe de ser igual.
                    </span>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<h2>Form Valid: {{miFormulario.valid}}</h2>
<h2>Form errors</h2>
<pre>{{miFormulario.errors | json}}</pre>

<h5>Nombre</h5>
<pre>{{miFormulario.controls.nombre.errors | json}}</pre>

<h5>E-mail</h5>
<pre>{{miFormulario.controls.email.errors | json}}</pre>

<h5>Username</h5>
<pre>{{miFormulario.controls.username.errors | json}}</pre>

<h5>Password</h5>
<pre>{{miFormulario.controls.password.errors| json}}</pre>

<h5>Confirmar</h5>
<pre>{{miFormulario.controls.password2.errors | json}}</pre>

<!-- Para poder hacer las validaciones del las dos 
    contrasenas necesiamos poder concer si el 
    formulario tiene errores en general  -->